body {
  font-family: "PT Sans", sans-serif;
  /* padding: 2rem; */
}
button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em 12px/16px;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a:focus {
  text-decoration: none;
  outline: none;
}
.comment-box {
  max-width: 37.5rem;
  color: #fff;
  background-color: #909090;
  border-radius: 0.875rem;
  padding: 0.2rem 1rem 2rem;
}
.comment-form {
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.comment-form-fields {
  margin-bottom: 0.25rem;
}
input,
textarea {
  border: none;
  border-bottom: 1px solid darkgray;
  font-size: 0.85rem;
  padding: 0.25rem 0;
  width: 99%;
}
a:focus {
  border-bottom-color: blue;
  outline: none;
}
textarea {
  font-style: italic;
}

.comment-count {
  color: darkgrey;
}
#comment-reveal {
  float: right;
  background-color: blue;
  color: #fff;
}
.comment {
  border-top: 0.125rem solid darkgray;
}
.comment-body {
  font-style: italic;
  margin-left: 1rem;
}
.comment-footer {
  margin-bottom: 1rem;
}
.comment-footer-delete {
  padding: 0.2rem 0;
  color: darkgray;
  text-decoration: none;
}
a:hover {
  color: blue;
  font-weight: bold;
}
